adal==1.2.7
aiohttp==3.8.6
aiosignal==1.3.1
anyio==4.0.0
asgiref==3.7.2
async-timeout==4.0.2
attrs==23.1.0
auth==0.5.3
autobahn==23.1.2
Automat==22.10.0
azure-core==1.29.4
azure-identity==1.14.1
beautifulsoup4==4.12.2
bleach==6.0.0
blinker==1.6.2
cachetools==5.3.1
certifi==2023.5.7
cffi==1.15.1
channels==4.0.0
channels-redis==4.1.0
chardet==5.1.0
charset-normalizer==3.1.0
colorama==0.4.6
constantly==15.1.0
cookiecutter-django==1.11.9
cryptography==41.0.1
daphne==4.0.0
dateparser==1.1.8
defusedxml==0.7.1
Deprecated==1.2.14
distlib==0.3.6
Django==4.2.1
django-allauth==0.54.0
django-baton==2.7.1
django-braces==1.15.0
django-ckeditor==6.5.1
django-extensions==3.2.1
django-js-asset==2.0.0
django-model-utils==4.3.1
dnspython==2.4.1
docutils==0.20.1
eventlet==0.33.3
example==0.1.0
exceptiongroup==1.1.3
falcon==3.1.1
feedparser==6.0.10
filelock==3.12.0
frozenlist==1.4.0
GoogleNews==1.6.9
greenlet==2.0.2
gunicorn==21.2.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==0.18.0
httpx==0.25.0
hyperframe==6.0.1
hyperlink==21.0.0
idna==3.4
importlib-metadata==6.6.0
incremental==22.10.0
invoke==2.1.2
jaraco.classes==3.2.3
jeepney==0.8.0
keyring==23.13.1
markdown-it-py==2.2.0
MarkupSafe==2.1.3
mdurl==0.1.2
microsoft-kiota-abstractions==0.8.7
microsoft-kiota-authentication-azure==0.3.0
microsoft-kiota-http==0.6.1
microsoft-kiota-serialization-json==0.4.2
microsoft-kiota-serialization-text==0.2.1
mongoengine==0.27.0
more-itertools==9.1.0
msal==1.22.0
msal-extensions==1.0.0
msgpack==1.0.5
msgraph-core==1.0.0a4
msgraph-sdk==1.0.0a16
multidict==6.0.4
mysqlclient==2.1.1
newsapi-python==0.2.7
numpy==1.25.0
oauthlib==3.2.2
opentelemetry-api==1.20.0
opentelemetry-sdk==1.20.0
opentelemetry-semantic-conventions==0.41b0
packaging==23.1
pandas==2.0.3
pendulum==2.1.2
Pillow==9.5.0
pkg_resources==0.0.0
pkginfo==1.9.6
platformdirs==3.5.1
pluggy==1.0.0
portalocker==2.8.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
Pygments==2.15.1
PyJWT==2.7.0
pymongo==4.4.1
pyOpenSSL==23.2.0
pyproject_api==1.5.1
python-dateutil==2.8.2
python3-openid==3.2.0
pytz==2023.3
pytzdata==2020.1
PyYAML==6.0.1
readme-renderer==37.3
redis==4.5.5
regex==2023.8.8
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.4.1
SecretStorage==3.3.3
service-identity==21.1.0
sgmllib3k==1.0.0
six==1.16.0
sniffio==1.3.0
social-auth-app-django==5.3.0
social-auth-core==4.4.2
soupsieve==2.4.1
sqlparse==0.4.4
std-uritemplate==0.0.43
tomli==2.0.1
tox==4.5.2
twine==4.0.2
Twisted==22.10.0
txaio==23.1.1
typing_extensions==4.6.2
tzdata==2023.3
tzlocal==5.0.1
urllib3==2.0.2
virtualenv==20.23.0
webencodings==0.5.1
websockets==8.1
Werkzeug==2.3.6
whitenoise==6.4.0
wrapt==1.15.0
yarl==1.9.2
zest.releaser==8.0.0
zipp==3.15.0
zope.interface==6.0
