.box {
    background: #ffffff;
    /* border: 1px solid #000000; */
    border-radius: 10px;
    box-shadow: 5px 5px 5px #000000a1;
    margin: 0 auto;
    padding: 20px;
    width: 300px;
    opacity: 0.95;
    height: 40vh;
    justify-content: space-evenly;
}

.form-control {
    border: none !important;
}



body {
    /* background-color: #F1E083 !important; */
    background-image: url('../images/wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

img {
    width: 250px;
}

.promo-img {
    left: 0;
    bottom: 0;
    position: absolute;
    padding: 1rem;
}

.p {
    color: rgb(235, 16, 16);
    font-size: 1.3rem;
    font-weight: 500;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.btn-login {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}