#panel {
    background: #ffffff !important;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #8888889c !important;
    padding: 10px;
    /* position: absolute; */
    right: 5%;
    top: 10px;
    z-index: 999;
    left: 40%;
    width: 75%;
}

body {
    /* background-color: #F1E083 !important; */
    background-image: url('../images/wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

#container-post {
    display: flex;
    gap: 1rem;
    height: 100vh;
    width: 94vw;
    /* overflow-y: auto; */
    max-height: 52rem;
    flex-direction: column;
    align-items: flex-end;
    padding: 1rem;
    margin-right: 2%;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 180px;
    background: #11101d;
    padding: 35px 15px;
    /* box-shadow: 10px 10px 5px #11101d56 !important; */
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;
    /* gap: 90px; */

}

.sidebar .logo-content .logo {
    height: 50px;
    width: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    /* gap: 1.5rem; */
}

img {
    width: 45px;
}

span {
    margin-left: 15px;
}

span, .logo-name, i {
    color: beige;
}

li {
    margin: 20% 0;
}

.sidebar ul li .tooltip {
    position: absolute;
    height: 35px;
    width: 122px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.sidebar.active {
    /* left: -260px; */
    width: 260px;
}

#btn {
    cursor: pointer;
}

/* .sidebar span {
    opacity: 0;
    pointer-events: none;
}

.sidebar.active span {
    opacity: 1;
    pointer-events: auto;
} */

.sidebar>span:hover{
    opacity: 1 ;
    pointer-events: auto ;
    color: black ;
}

.sidebar ul li a {
    color: black;
    display: flex;
    align-items: center;
    transition: all 0.4s ease;
}

.sidebar ul li a:hover {
    text-decoration: none;
    background: rgb(255, 255, 255);
    width: 230px;
    border-radius: 5px;
    height: 80px;
    padding-left: 40px;
}
.sidebar>ul>li:hover span{
    color: black !important;
}

ul li {
    padding-left: 20px;
}