{% load static %}

<!DOCTYPE html>
<html lang="pt_BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="../../static/images/PROMOVA-ILIMITADA.png" type="image/x-icon">

        <!-- CSS  -->
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>PromoBlog</title>
</head>

<body class="background">
    <div class="sidebar">
        <div class="logo-content">
            <div class="logo mb-5">
                <img src="{% static 'images/PROMOVA-ILIMITADA.png' %}" id="btn">
                <div class="logo-name">PromoBlog</div>
                    <!-- <i class="fa-solid fa-bars d-flex justify-content-end" id="btn"></i>  -->
            </div>
        </div>
        <ul class="nav-list">

                <!-- AJORS  -->

            <li title="AJORS">
                <a href="https://sistema.universopromova.com.br/ajors/seguranca/" target="_blank">
                    <img src="{% static 'images/logo-ajors.jpg' %}">
                    <span class="links-name hide">Ajors</span>
                </a>
                    <!-- <span class="hide" class="tooltip">Dashboard</span>  -->
            </li>

                <!-- PAUTA  -->

            <li title="PAUTA.ME" class="mt-4">
                <a href="https://app.pauta.me/promova" target="_blank">
                    <img src="{% static 'images/pauta.png' %}">
                    <span class="links-name hide">Pauta.me</span>
                </a>
                    <!-- <span class="tooltip hide">Dashboard</span>  -->
            </li>

                <!-- PRODUCAO  -->

            <li title="PRODUÇÃO" class="mt-4">
                <a href="https://producao.universopromova.com.br/" target="_blank">
                    <img src="{% static 'images/producao.jpeg' %}">
                    <span class="links-name hide">Produção</span>
                </a>
                    <!-- <span class="tooltip hide">Dashboard</span>  -->
            </li>

                <!-- FAQ  -->

            <li title="SUPORTE" class="mt-4">
                <a href="/suporte" target="_blank">
                    <img src="{% static 'images/PictoGlpi-1.png' %}">
                    <span class="links-name hide">Suporte</span>
                </a>
                    <!-- <span class="tooltip hide">Dashboard</span>  -->
            </li>

            <!-- RH -->


            {% if user.is_authenticated %}
                <li title="Novo Post" class="mt-4 ms-1">
                    <a href="/admin/blog/post/add/">
                        <i class="fa-solid fa-plus fa-2x" style="color: #1a57c1;"></i>
                        <!-- <img src="../../static/images/icon.png" alt=""> -->
                        <span class="links-name hide">Novo Post</span>
                    </a>
                </li> 
                <li title="Bate-papo" class="mt-4 ms-1">
                    <a href="/chat">
                        <i class="fa-solid fa-comment-dots fa-2x" style="color: #1a57c1;"></i> 
                        <span class="links-name hide">Bate-papo</span>
                    </a>
                </li>
                <li title="Logoff" class="mt-4 ms-1">
                    <a href="/accounts/logout/?next=/">
                        <i class="fa-solid fa-right-from-bracket fa-2x" style="color: #1a57c1;" ></i>
                        <!-- <img src="../../static/images/icon.png" alt=""> -->
                        <span class="links-name hide">Desconectar</span>
                    </a>
                </li> 
            {% else %}
                <li title="RH" class="mt-4">
                    <a href="/admin/blog/post/">
                        <img src="../../static/images/icon.png" alt="">
                        <span class="links-name hide">RH</span>
                    </a>
                </li>   
            {% endif %}

        </ul>
    </div>

        <!-- AVISOS  -->

    <div class="d-flex portal">
        <div id="container-post">
            {% for post in posts %}
            <div id="panel" class="ms-2">
                <h3>{{ post.title | upper }}</h3>
                {{ post.summary|safe }}
                <a href="post/{{ post.id }}/"> VER MAIS.</a>
                <div class="d-flex flex-column">
                    <h3>{{ post.author_post }}</h3>
                    {% comment %} <h5> - </h5> {% endcomment %}
                    <h5>{{ post.published_date }}</h5>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
    
        <!-- JS  -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
<script src="{% static 'js/script.js' %}"></script>

</html>