* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #191a1f ;
}

#sidebar {
    height: 100vh;
    width: 12rem;
    padding-right: 10px;
    position: fixed;
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: repeat(6, 1fr);
}

.header-sidebar {
    grid-row: 1 / 2;
    margin-bottom: 2rem;
}

.section-sidebar {
    grid-row: 2 / 4;
}

.list {
    margin: 1rem 0 2rem 1rem !important;
}

.footer-sidebar {
    grid-row: span 2 / 7;

    margin-left: .2rem;
}

.container-main {
    display: grid;
    gap: 0.5rem;
    width: 100vw;
    height: 100vh;
    grid-template: "nav section" 1fr / 18% 1fr;
}

.container-main--nav {
    grid-area: nav;
    border-right: 2px solid #141518;
    /* background-color: #191a1f !important; */
    background-color: #141518;
    /* border-right: 2px solid #11101d5c; */
}


.container-main--sections {
    grid-area: section;
    /* display: flex; */
    gap: 3.5rem;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    justify-content: center;
}

.container-main--nav-dark {
    grid-area: nav;
    background-color: #ffffff;
    border-right: 2px solid #ffffff;
    box-shadow: -15px 0px 20px black;
}

.dark-theme {
    background-color: #191a1f !important;
    color: white !important;
}

.black-text {
    /* color: #282931e8 !important; */
    color: #101114e8 !important;
}

.white-theme {
    /* background-color: #d7c8c82b !important; */
    background-color: #bdb3b32b  !important;
}

.fa-sun {
    color: #ffd43b !important;
}

body {
    overflow-x: hidden;
}

#login {
    margin-left: 1rem;
}

#sites-drop {
    cursor: pointer;
    margin-left: 1rem;
}

p {
    margin-bottom: 0 !important;
}

#head-sidebar, span {
    width: 3rem;
    height: 3rem;
}

#head-sidebar p {
    margin-left: 0.5rem;
}

#head-sidebar {
    color: white;
    padding: 3rem 0 0 2rem;
    margin-bottom: 5rem;
}

.dropdown-menu {
    --bs-dropdown-link-hover-color: #ffd43b !important;
    --bs-dropdown-link-color: white !important;
    --bs-dropdown-bg: #0f0f10 !important;
    --bs-dropdown-link-hover-bg: #0f0f10 !important;
    --bs-dropdown-link-hover: #ffd43b !important;
    --bs-dropdown-link-active-color: #2163e8 !important;
    --bs-dropdown-link-active-bg: #0f0f10 !important;
    color: var(--bs-dropdown-link-color);
    color: var(--bs-dropdown-link-hover-color);
}

.modal {
    color: black !important;
}

#main .row {
    margin-right: 0;
    margin-left: 0;
}

.container {
    margin: 0 !important;
}

#card-image img {
    width: 25rem;
    height: auto;
    max-height: 13rem;
    object-fit: cover;
    border-radius: 20px;
}

#card-body p {
    color: #97979e ;
    max-width: 70% !important;
    margin-bottom: 1rem !important;
    padding-left: 0.5rem;
}

#email {
    display: none;
}

#toggleButton {
    display: none;
}

#grid {
    display: grid;
    height: 100%;
    grid-template-areas:
        "card-title"
        "card-body"
        "card-footer";
    grid-template-rows: 25% 35% 30%;
    grid-template-columns: 1fr;
    align-content: center;
}

#card-title {
    grid-area: card-title;
    max-width: 90%;
}

#card-body {
    grid-area: card-body;
}

#card-footer {
    grid-area: card-footer;
}

#card .row {
    max-width: 65rem !important;
}

#card-title h3 {
    cursor: pointer;
}

#card-footer p {
    padding-left: 0.5rem;

}

h3 {
    background: linear-gradient(0deg, slateblue, slateblue) no-repeat right bottom / 0 var(--bg-h);
    transition: background-size 350ms;
    --bg-h: 100%;
    padding-bottom: 2px;
    --bg-h: 2px;
    text-decoration: none;
    color: inherit;
    line-height: 1;
}

h3:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
}

#card-title a {
    text-decoration: none !important;
    color: white;
}

body::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
    background-color: #191a1f !important;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #0c0c0e;
}

.white-theme::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
    background-color: #efeeee !important;
}

.white-theme::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #7b7b7bd1;
}

#context {
    display: grid;
    grid-template-areas: "img context";
    grid-template-columns: 26rem 1fr;
}

#btn-menu {
    display: none;
}

.conteudos {
    background-color: #141518 !important;
    margin-top: 2rem;
    width: 78vw;
    height: 37vh;
    border-radius: 20px;
}

.conteudos-white {
    background-color: white !important;
    margin-top: 2rem;
    width: 78vw;
    height: 37vh;
    border-radius: 20px;
    box-shadow: 1px 6px 20px 0px #0000002e;
}

@media screen and (width: 1024px) {
    .container-main {
        display: grid;
        gap: 5.5rem;
        width: 100vw;
        height: 100vh;
        grid-template: "nav section" 1fr / 20% 1fr;
    }
}

@media screen and (min-width: 1600px) {
    .conteudos {
        height: 30vh !important;
    }
}

@media screen and (max-width: 768px) {
    #context {
        grid-template-areas: "img" "context";
        grid-template-columns: 1fr;
        height: 35rem;
    }

    #card-image img {
        width: 100%;
        height: auto;
        border-radius: 20px;
    }

    #conteudo {
        margin-top: 2rem;
    }

    #card-body p {
        color: #97979e !important;
        max-width: 100% !important;
        margin-bottom: 1rem !important;
        padding-left: 0.5rem;
    }

    #card .row {
        max-width: 100% !important;
    }

    #card-title h3 {
        cursor: pointer;
    }

    #card-footer p {
        padding-left: 0.5rem;
    }

    #grid {
        display: grid;
        height: 100%;
        grid-template-areas:
            "card-title"
            "card-body"
            "card-footer";
        grid-template-rows: 30% 35% 15%;
        grid-template-columns: 1fr;
        align-content: center;
    }

    #btn-menu {
        display: block;
        position: absolute !important;
        top: 1rem;
        right: 1rem;
        z-index: 100;
    }

    #sidebar {
        width: 100%;
        height: 63%;
        display: flex;
        background-color: #191a1f !important;
        flex-direction: column;
        margin: 0 !important;
        margin-top: 3rem !important;
        align-items: center;
    }

    #sites-drop {
        border-bottom: 2px solid #202227;
        width: 100vw;
        margin-bottom: 1rem !important;
    }

    #sidebar li a {
        margin: 0 !important;
    }

    .container-main {
        display: flex;
    }

    #head-sidebar, img, span {
        width: 3rem;
        height: 3rem;
    }

    #head-sidebar p {
        margin-left: 0.5rem;
    }

    #head-sidebar {
        color: white;
        margin: 0 !important;
        padding: 0 0 0 0 !important;
    }
    
    .header-sidebar {
        width: 100vw;
        display: flex;
        margin-bottom: 0 !important;
        /* margin-right: 2rem; */
        flex-direction: column;
        align-items: center;
    }

    #user-name {
        padding-top: 1.5rem !important;
    }

    #sites-drop {
        margin: 0 0 1rem 1rem !important;
        display: flex;
    }

    .section-sidebar {
        margin: 0 !important;
        margin-top: 0;
    }

    .container-main--nav {
        grid-area: nav;
        border-right: none;
    }

    .bugs {
        margin-top: 0 !important;
    }

    body {
        background-color: #191a1ff7 !important;
        color: white !important;
        overflow-x: hidden;
    }

    .menu {
        display: none !important;
        
    }

    .show-menu {
        display: block !important;
    }

    #email {
        display: block !important;
    }

    #toggleButton {
        display: block !important;
    }

    #log {
        flex-direction: column;
    }

    #user-name .ms-3 {
        margin-left: .3rem !important;
        margin-top: .5rem !important;
    }

    .btn-secondary {
        --bs-btn-color: #fff !important;
        --bs-btn-bg: #191a1f !important;
        --bs-btn-border-color: #191a1f !important;
        --bs-btn-hover-color: #fff !important;
        --bs-btn-hover-bg: #191a1f !important;
        --bs-btn-hover-border-color: #191a1f !important;
        --bs-btn-focus-shadow-rgb: 130, 138, 145 !important;
        --bs-btn-active-color: #fff !important;
        --bs-btn-active-bg: #191a1f !important;
        --bs-btn-active-border-color: #191a1f !important;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
        --bs-btn-disabled-color: #fff !important;
        --bs-btn-disabled-bg: #191a1f !important;
        --bs-btn-disabled-border-color: #191a1f !important;
    }

    #btn-colapse {
        position: fixed !important;
        width: 100vw !important;
        background-color: #191a1f;
        height: 9vh;
        display: flex;
        align-items: center;
        /* margin-left: -0.5rem;*/
    }

    .section-sidebar li {
        margin: 0 0 1rem 1rem !important;
        border-bottom: 2px solid #202227;
    }
} 